@import "tailwindcss";

@theme {
  --color-main: #fff;
  --color-secondary: #f9f9f9;
  --color-black: #000;
  --color-main-border: #e9e9e9;
  --color-button-bg: #228234;
  --color-button-hover-bg: #29903b;
  --color-secondary: #818181;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}
.noScrollBar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}